.new-appointment {
    display: flex;
    max-width: 1300px;
}

.submit-form {
    margin: 0 auto;
    padding-top: 50px;
}

.rows {
    display: inline-block;
    padding-top: 40px;
}

.batton {
    padding-top: 40px;
}

.the-buttons {
    width: 90px !important;
    margin-right: 40px;
}

.button-rows {
    padding-top: 30px;
}

input, label {
    display:block;
    padding-bottom: 10px;
}

.send-button {
    width: 100px;
    height: 35px;
}